/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 85%;
    margin: 0px auto;
}

/* header related style */

nav {
    width: 100%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #0000000d;
    display: flex;
    justify-content: space-between;
}

nav>h3 {
    padding-left: 240px;
    display: flex;
    align-items: center;
}

.text {
    color: #0B0223;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
}

.G {
    margin-left: 15px;
    color: #FF42A5;
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 240px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul li {
    list-style: none;
    color: #3C354F;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.Follow {
    border-radius: 8px;
    background: #0b02231a;
    padding: 15px 20px;
}

/* banner  */
.banner {
    display: flex;
}

.banner img {
    width: 80%;
    margin-right: 15%;
    margin-top: 75px;
}

.banner-artical {
    padding-left: 10%;
    margin-right: 70px;
    background-size: cover;
    width: 45%;
    background-image: url('../images/Group\ 14.png');
}

.banner-artical h3 {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 70px;
    margin-bottom: 0px;
}

.banner-artical h1 {
    margin-top: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.banner-artical p {
    margin-top: 24px;
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.btn-primary {
    margin-top: 35px;
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    background-color: #F948B2;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-normal {
    margin-bottom: 50px;
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.card-about {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
}

.card-about h3 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
}

.card-about p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.card-image {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.c-img {
    width: 250px;
}

.c-img :hover {}

.c-p {
    width: 250px;
}

.c-p p {
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.detail {
    display: flex;
    margin-top: 150px;
}

.d-detail {
    width: 600px;
    margin-left: 150px;
}

.d-detail h3 {
    color: #0B0223;
    font-size: 3em;
    font-weight: 700;
}

.d-detail p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.d-photo {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.d-p {
    width: 100%;
}

.d-s {
    width: 45%;
    margin-bottom: 120px;
    position: absolute;
    left: 72%;
    top: 65%;
}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.f-btn {
    margin-top: 300px;
    margin-bottom: 100px;
}

.btn-d {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.btn-p {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
}

.btn-p:hover {
    border: 3px solid #F948B2;
    border-radius: 3em;
    cursor: pointer;

}

.btn-p p {
    color: #0B0223;
    font-size: 1em;
    font-weight: 600;
}

.btn-p p:hover {
    color: #FF42A5;
}

.f-h {
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    background: #0B0223;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.text-f {
    color: #FFF;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
}

.f-about {
    display: flex;
    gap: 40px;
}

.f-about p {
    color: #FFF;
    font-size: 1em;
    font-weight: 600;
}

.f-icon {
    gap: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
}

.f-foot {
    display: flex;
    gap: 30px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.9em;
    font-weight: 500;
}

.f-f {
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.9em;
    font-weight: 500;
}

/* mobile respinsive */
@media screen and (max-width:576px) {
    body{
        margin: 0px;
    }
    nav {
        flex-direction: column;

    }

    nav h3 {
        padding-left: 0px;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 700;
    }

    nav ul {
        padding: 0px;
        flex-direction: column;
        justify-content: center;

    }

    nav ul li {
        font-size: 90%;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .banner-artical {
        margin-right: 0px;
        background-image: none;
        width: 90%;
        text-align: center;
        padding: 0px;
    }

    .banner-artical h3 {
        font-size: 20px;
    }

    .banner-artical h1 {
        font-size: 45px;
    }

    .banner-artical p {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 14px;
    }

    .btn-normal {
        font-size: 14px;
    }

    .banner img {
        width: 100%;
        margin-right: 0px;

    }

    /* card responsive */
    .card {
        width: 100%;
        margin: 0px auto;
    }

    .card-image {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 25px;
    }

    .c-img .c-p {
        width: 100%;
    }

    .card-about h3 {
        font-size: 30px;
    }

    .funny {
        font-size: 30px;
    }

    .card-about p {
        font-size: 14px;
        text-align: center;
    }

    .detail {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
    }
    .d-p{
        width: 80%;
    }
    .d-s {
        width: 35%;
        position: absolute;
        left: 60%;
    }

    .d-detail h3 {
        text-align: center;
        color: #0B0223;
        font-size: 2em;
        font-weight: 700;
    }

    .d-detail p {
        color: #534C64;
        font-size: 1em;
        font-weight: 400;
        text-align: center;
    }

    .d-detail {
        width: 80%;
        margin: 0px;
        margin-bottom: 50px;
    }

    .btn-d {
        gap: 10px;
        justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .f-btn{
        margin-top: 150px;
    }
    .btn-p img {
        width: 30%;
    }
    .btn-p p {
        color: #0B0223;
        font-size: 0.5em;
        font-weight: 600;
    }
    .f-about{
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .f-foot{
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .f-about p{
        font-size:14px;
    }
    .f-foot{
        font-size: 12px;
    }
    .f-f{
        font-size: 12px;
        text-align: center;
    }
}